:root {
    --background: #f9fcfe;
    --shadow: #645f74;
    --white: #ffff;
    --accent: #dce3ff;
    --primary: #3480ea;
    --secondary: #2165c4;
    --button:#60ace6;
    --black: #000000;
  }

body{
    margin: 0px;
    font-size: 3vh;
}

.overlay{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #9b9b9b3c;
    position: absolute;
    top: 0px;
    left: 0px;
}

.invisible{
    display: none;
}

.button{
    background-color: var(--button);
    border:2px solid var(--shadow);
    border-radius: 5px;
    cursor: pointer;
    padding:1vh 5vw 1vh 5vw;
    box-shadow: 2px 2px 2px 0px var(--shadow);
}

.button:hover{
    background-color: var(--primary);
    border:2px solid var(--black);
}