.container-1, .container-2, .container-3{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
    flex-direction: column;
    flex-wrap: wrap;
    
    & .box {
        flex: 1 0 50%;
        height: 200px;
        width: 48vw;
        border: 1px solid black;
        box-sizing: border-box;
    }

    & .small-box{
        flex: 1 0 50%;
        /* height: 200px; */
        width: 48vw;
        border: 1px solid black;
        box-sizing: border-box;
        padding: 20px;
        padding-top: 8vh;
        
    }

    & .gallery{
        margin: auto;
        margin-top: 10vh;
        width: 40vw !important;
        height: 40vh !important;
    }
}

.container-3{
    display: flex !important;
    flex-wrap: wrap !important;
}


@media (max-width: 600px) {
    .container-1 {
      flex-wrap: wrap;

      & .box:nth-child(1){
        margin-top: 8vh;
      }
    }

    .box {
        flex: 1 0 10% !important;
        width: 100vw !important;
    }
/*     
    .container-3 {
        flex-wrap: wrap;
  
        & .box:nth-child(1){
          margin-top: 8vh;
        }
  
    } */

    .small-box{
        flex: 1 0 10% !important;
        width: 100vw !important;
        height: 200px;
    }

  }

#about{
    flex-wrap: wrap;
}

.navbar{
    background-color: red;
    position: fixed;
    /* top:0px; */
    width: 100%;
    height: 8vh;
    z-index: 10;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & div{
        height: inherit;
        flex:1;
    }

    & .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 30vw;
        background-color: red;

        & span{
            cursor: pointer;
        }
    }

    & .logo{
        height: inherit;
        display: flex;
        cursor: pointer;

        & img{
            margin: auto 10px auto 10px;
            height: 80%;
        }
        & span{
            font-size: 6vh;
            font-family: "Nunito Sans", sans-serif;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}