body{
    overflow-x: hidden;
}

.container-1, .container-2, .container-3{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
    flex-direction: column;
    flex-wrap: wrap;
    
    & .box {
        flex: 1 0 50%;
        height: 200px;
        width: 48vw;
        /* border: 1px solid black; */
        box-sizing: border-box;
    }

    & .box-2,.box-3,.box-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.6vh;
        text-align: center;
    }

    .box-2 > span{
        margin-bottom: 1.5vh;
        font-size: 3vh;
    }

    .box-3{
        padding-top: 8vh;
        & span{
            margin-bottom: 1vh;
        }
    }

    .box-4 > img{
        overflow: hidden;
        width: 40vw;
        margin-bottom: 2vh;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 0px var(--shadow);
    }

    & .small-box{
        flex: 1 0 50%;
        /* height: 200px; */
        width: 48vw;
        /* border: 1px solid black;
        box-sizing: border-box; */
        padding: 4vw;
        padding-top: 8vh;
    }

    & .small-box:first-of-type{
        width: 25vw;
    }

    & .gallery{
        margin: auto;
        margin-top: 10vh;
        width: 40vw !important;
        height: 40vh !important;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 0px var(--shadow);
    }

    & .realization{
        margin-top: 8vh;
        flex: 1 0 60%;
        height: 80vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 1vw;

        & img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            box-shadow: 2px 2px 2px 0px var(--shadow);
        }
    }

    & .line{
        height: 80%;
        min-width: 0.5vw;
        border-width: 0px 2px 0px 1px;
        border-color: var(--shadow);
        border-style: solid;
        --border-opacity: 0.5;
    }
}

.more-realizations{
    width: 100vw;
    display:flex;
    justify-content: center;
    position:relative;
    bottom: 8vh;
}

.container-3{
    display: flex !important;
    flex-wrap: wrap !important;

    & .small-box{
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


@media (max-width: 600px) {
    .container-1 {
      flex-wrap: wrap;

      & .box:nth-child(1){
        margin-top: 8vh;
      }
    }

    .container-3 {
        flex-direction: row !important;
    }

    .box {
        flex: 1 0 10% !important;
        width: 100vw !important;
    }

    .box-4{
        display:none !important;
    }

    .small-box{
        flex: 1 0 100% !important;
        width: 90vw !important;
        font-size: 2.5vh;
    }

    .realization{
        flex: 1 0 10% !important;
    }

    .more-realizations{
        position:relative;
        top: 6vh;
    }

    .line{
        display: none;
    }
}

#about{
    flex-wrap: wrap;
}

.navbar{
    background-color: var(--primary);
    position: fixed;
    /* top:0px; */
    width: 100vw;
    height: 8vh;
    z-index: 10;
    box-shadow: 0px 3px 4px 0px var(--shadow);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & div{
        height: inherit;
        flex:1;
    }

    & .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 30vw;
        background-color: var(--primary);

        & span{
            cursor: pointer;
            /* padding: 5px 10px 5px 10px; */
            border-radius: 10px;
            height: inherit;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & span:hover{
            background-color: var(--secondary);
        }
    }

    & .logo{
        height: inherit;
        display: flex;
        cursor: pointer;
        max-width: fit-content;
        border-radius: 10px;
        margin-left: 4vw;

        & img{
            margin: auto 10px auto 10px;
            height: 80%;
        }
        & span{
            font-size: 6vh;
            font-family: "Nunito Sans", sans-serif;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px;
        }
    }
    & .logo:hover{
        background-color: var(--secondary);
        box-shadow: 2px 0px 2px 0px var(--secondary);
    }
}