.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 6vh;
	margin-top: 3vh;
}

.miniature {
	flex: 0 0 40%;
	max-width: calc(40% - 3vh);
	margin-left: 3vh;
}

.miniature img {
	width: 100%;
	display: block;
}

.title {
	flex: 0 0 50%;
	max-width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
}

.description {
	margin-top: 20px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.grid img {
	flex-basis: calc(33% - 2vh);
	max-width: calc(33% - 2vh);
	margin: 1vh;
	box-shadow: 0 2px 4px var(--shadow);
	cursor: pointer;
}

.overlay {
	position: fixed;
	top: 4vh;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--overlay);
	display: none;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content button {
	max-width: 30vw;
}

.overlay img {
	max-width: 90%;
	max-height: 80vh;
	display: block;
	margin: auto;
	box-shadow: 0 2px 4px var(--shadow);
}

@media only screen and (max-width: 768px) {
	.row {
		flex-direction: column;
		align-items: center;
	}

	.miniature,
	.title {
		flex: 1 1 auto;
		max-width: 80%;
	}

	.grid img {
		flex-basis: calc(50% - 2vh);
		max-width: calc(50% - 2vh);
	}
}

@media only screen and (max-width: 480px) {
	.grid img {
		flex-basis: calc(100% - 2vh);
		max-width: calc(100% - 2vh);
	}
}

.grid img:hover {
	transform: translateY(-5px);
	transition: transform 0.3s ease;
	filter: brightness(60%);
	transition: filter 0.3s ease;
}
